# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter Book
sse/_build/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Emacs
*~
\#*\#
.projectile
